/* work sans font from google font */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* shared styles  */
* { font-family: 'Work Sans', sans-serif;

}
body{
    margin: 0 auto;
}
.text-gray{
    color: #727272

}

.btn-primary{
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 20px 25px;
    border: none;
    cursor: pointer;
}
.btn-primary:hover{
    color: grey;
}



/* header styles */
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 10px 240px;
    background-size: cover;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
nav > ul{
    display: flex;

}
nav li{
    list-style: none; 
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
} 
nav li a{
    text-decoration: none;
     color: #424242;
}
.nav-title{
    color:  #131313;
    font-size: 2.8rem;
    font-weight: 700;


}

.banner-content{
    max-width: 860px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    color:  #131313;
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 40px;

}
.banner-des{
   font-weight: 400;
   margin-bottom: 35px;
  
}
.banner-img{
    margin-top: 50px;
    width: 100%;
}




















/* media queries(mobile) */
@media screen and (max-width:576px) {
    nav{
        flex-direction: column;
    }
    header{
        padding: 10px 30px;
    }
    
}

/* medium device */
@media screen and (min-width:576px) and (max-width:992px) {
    header{
        padding: 10px 60px;
    }
    nav{
        flex-direction: column;
    }
    
}